<!DOCTYPE html>
<html>

<head>
	<title>MadLibs!</title>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>

<body>
	<p>Dear <span style="color:green;">@Model.Name</span>,</p>
	<p>I am writing to remind you that I will be <span style="color:green;">@Model.Verb</span> your <span style="color:green;">@Model.Animal</span> on Tuesday evening.</p>
	<p>When you get this, please let me know how my <span style="color:green;">@Model.Noun</span> are/is doing!</p>
	<p>PS: I may have given your <span style="color:green;">@Model.Animal @Model.Number</span> treat(s), I hope that's okay!</p>
	<p>Yours truly,</p>
	<p style="color:green;">@Model.Adjective @Model.Name2</p>
</body>

</html>